/* max width 1040px to 800px  */

@media screen and (max-width:1040px) {
    /* navbar and header code */
    .header>.logo
    {
        font-size: 20px;
    }
    .navbar
    {
        position: absolute;
        top: 50px;
        right: 0;
        width: 100%;
        text-align: center;
        background-color: aliceblue;
        visibility: hidden;
        pointer-events: none;
        transition: all 0.4s;
        opacity: 0;
    }
    .navbar ul
    {
        display: block;
    }
    .navbar ul li
    {
        padding: 20px 0;
    }
    .navbar ul li a:hover
    {
        color: rgb(181, 107, 171);
    }
    .active
    {
        visibility: visible;
        pointer-events:auto;
        opacity: 1;
    }
    .bars
    {
        display: block;
    }
     /* navbar and header code */



     /* hero section code */
    .hero-section h1
    {
        font-size: 28px;
        margin: 20px 0;
    }
    .hero-section p
    {
        font-size: 15px;
    }
    .button
    {
        margin: 30px 0;
    }
    .button a
    {
        padding: 10px 25px;
        font-size: 16px;
    }
    /* feature section code */
    #features
    {
        padding: 8vw 8vw 0 8vw;
        /* text-align: center;
        box-shadow: 0px 0px 10px -2px rgba(142, 46, 118, 0.449); */
    }
     /* hero section code */


     /* courses section code */
    #courses
    {
        padding: 8vw 6vw 0 6vw;
        /* text-align: center; */
    }
    /* courses section code */
    /* contact section code  */
    #contact
    {
        padding: 8vw 4vw 0 4vw;
    }
}

/* from 800px */
@media screen and (max-width:800px) {
    /* hero sectio code */
    .hero-section h1
    {
        font-size: 24px;
        margin: 30px 0;
    }
    .hero-section p
    {
        font-size: 12px;
    }
    .button
    {
        margin: 20px 0;
    }
    .button a
    {
        padding: 7px 25px;
    }
    /* hero sectio code */
    /* features section code */
    #features
    {
        padding: 9vw 8vw 0 8vw;
        /* text-align: center;
        box-shadow: 0px 0px 10px -2px rgba(142, 46, 118, 0.449); */
    }
    #features h1
    {
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 0.8px;
    }
    #features p
    {
        font-size: 17px;
    }
    #features .fea-box img
    {   
        width: 30px;
        margin: 5px 0;
    }
    #features .fea-box h3
    {
        font-size: 18px;
        font-weight: 700;
        color: black;
        padding: 10px 0;
    }
    #features .fea-box p
    {
        font-size: 0.8rem;
    }
    /* feature section code */
    /* courses section code */
    #courses
    {
        padding: 9vw 6vw 0 6vw;
        text-align: center;
    }
    #courses h1
    {
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 0.8px;
    }
    #courses p
    {
        font-size: 17px;
    }
      /* courses section code */
      /* FAQ section code */
    #FAQ-section>.FAQ-title h1
    {
        font-size: 30px;
    }
    #FAQ-section>.FAQ-title p
    {
        font-size: 17px;
    }
     /* FAQ section code */
     /* contact section code */
    
    #contact
    {
        padding: 9vw 2vw 0 2vw;
        text-align: center;
        height: 100vh;
    }
    #contact h1
    {
        font-size: 28px;
        font-weight: 700;
        letter-spacing: 1.5px;
        margin: 10px 0;
        color: rgba(0, 0, 0,0.9);
        text-transform: uppercase;
        /* margin-bottom: 20px; */
    }
    .message-area h4
    {
        margin: 20px 0;
        font-size: 15px;
        font-family: "Poppins",serif;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    .message-area>.input-area>label>input
    {
        font-size: 14px;
        font-family: "Poppins",serif;
    }
    .message-area>.input-area>.button>a
    {
        padding: 8px 10px;
        font-size: 15px;
    }
    /* contact info  code is from here */
    .contact-info h4
    {
        margin: 20px 0;
        font-size: 15px;
        font-family: "Poppins",serif;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    .email-info h3
    {
        font-size: 18px;
        font-family: "Poppins",serif;
        margin-bottom: 10px;
    }
    .email-info>span
    {
        font-size: 10px;
        letter-spacing: 1px;
        font-family: "Poppins",serif;
    }
    .call-info h3
    {
        font-size: 18px;
        font-family: "Poppins",serif;
        margin-bottom: 10px;
    }   
    .call-info>span
    {
        font-size: 12px;
        letter-spacing: 1px;
        font-family: "Poppins",serif;
    } 
    .social-media a
    {
        margin: 0 5px;
    }
    .social-media a i
    {
        font-size: 1rem;
        color: rgba(142, 46, 118, 0.449);
        transition: all 0.4s;
    } 
    /* footer section code */
    #footer
    {
        padding: 4vw 7vw 0vw 6vw;
        margin:355px 0 0 0;
    }
    .footer-title>.footer-logo
    {
        font-size: 20px;
    }

    /* footer section code */

     /* contact section code */ 
}

/* from 580px */
@media screen and (max-width:570px) {
    /* hero sectio code */
    .hero-section h1
    {
        font-size: 20px;
        margin: 10px 0;
    }
    .hero-section p
    {
        font-size: 10px;
    }
    .button
    {
        margin: 25px 0;
    }
    .button a
    {
        padding: 7px 25px;
        font-size: 14px;
    }
    /* features section code */
    #features
    {
        padding: 12vw 8vw 0 8vw;
        text-align: center;
        box-shadow: 0px 0px 10px -2px rgba(142, 46, 118, 0.449);
    }
    #features h1
    {
        font-size: 26px;
        font-weight: 700;
        letter-spacing: 0.8px;
    }
    #features p
    {
        font-size: 15px;
    }
    #features .fea-box img
    {   
        width: 30px;
        margin: 5px 0;
    }
    /* feature section code */
     /* courses section code */
    #courses
    {
        padding: 12vw 6vw 0 6vw;
        text-align: center;
    }
    #courses h1
    {
        font-size: 26px;
        font-weight: 700;
        letter-spacing: 0.8px;
    }
    #courses p
    {
        font-size: 15px;
    }
    /* courses section code */
    /* FAQ section code */
    #FAQ-section>.FAQ-title h1
    {
        font-size: 26px;
    }
    #FAQ-section>.FAQ-title p
    {
        font-size: 15px;
    }
    .FAQ-area
    {
        padding: 40px 0px;
    }
    .FAQ-area>.FAQ h3 
    {
        font-size: 15px;
    }
    .FAQ-area>.FAQ p
    {
        font-size: 12px;
    }
     /* FAQ section code */
    
}
